@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.flex-center{
  @apply flex justify-center items-center
}

.reveal{
  @apply transition-opacity opacity-100 ease-in duration-75
}

input:-webkit-autofill {
  -webkit-text-fill-color: white;
  transition: background-color 9999s ease-in-out 0s;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotext) var(--font-jetbrains-mono)  sans-serif;

  padding:0;
  margin:0;
}

html {
  scroll-behavior: smooth;
}